@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
*,
*:before,
*:after {
  font-family: inherit;
  box-sizing: inherit;
  color: inherit;
}

.wrapper {
  width: 100%;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
}

.generator {
  padding: 50px;
  border-radius: 8px;
  max-width: 125vh;
  display: flex;
  flex-direction: column;
}

.generator h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  margin-top: 0vh;
  margin-bottom: 3vh;
  overflow: hidden;
  position: relative;
}

.generator h4 {
  font-size: 1.42rem;
  margin-top: -1.5vh;
  margin-bottom: 5vh;
}

.generator h1.babyname {
  font-size: 8.25rem;
  text-align: center;
  margin-top: 5vh;
}

.generator h2 {
  font-size: 1.25rem;
  font-weight: lighter;
  margin: 0;
  overflow: wrap;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.genderButton {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 10px;
  border: none;
  font-size: 2rem;
  overflow: hidden;
  background-color: #fff;
}

.genderButton:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #f5564e;
  font-weight: bold;
}

.genderButton:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}